<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Error Page</title>

    <link th:replace="fragments/dependencies :: bootstrap-css">
</head>
<script src="js/fb-init.js"></script>
<body>

<p th:text="'Error: ' + ${tokenError}"></p>

<th:block th:replace="fragments/fb-login :: fb-login-button"></th:block>

<script th:replace="fragments/dependencies :: bootstrap-scripts"></script>
</body>
</html>
