<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your photos</title>

    <script crossorigin="anonymous"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<script src="js/fb-init.js"></script>
<body>

    <a href="/h2-console" target="_blank">H2 console</a>
    <br>

    <p th:text="'Token: ' + ${fbToken}"></p>
    <p th:text="'Token is fine: ' + ${isTokenValid.booleanValue()}"></p>
    <p th:text="'userDto.id: ' + ${userDto.getFbId()}"></p>
    <p th:text="'userDto.name: ' + ${userDto.getName()}"></p>
    <p th:text="'userDto.gender: ' + ${userDto.getGender()}"></p>
    <img th:src="${userDto.getPicture()}">

    <button id="login">Login with Facebook</button>
    <button style="display:none;" id="logout">Logout</button>
    <div id="status"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="js/fb-logic.js"></script>
</body>
</html>