<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Your photos</title>

    <link rel="stylesheet" type="text/css" href="css/my-style.css">
    <link th:replace="fragments/dependencies :: bootstrap-css">
</head>
<body>

    <div class="container">
        <div class="row justify-content-md-center">
            <p th:text="'FB ID: ' + ${user.id}"></p>
        </div>
        <div class="row justify-content-md-center">
            <img th:src="${user.picture}" class="profile-picture">
        </div>
        <div class="row justify-content-md-center">
            <p th:text="'Name: ' + ${user.name}"></p>
        </div>
        <div class="row justify-content-md-center">
            <p th:text="'Sex: : ' + ${user.gender}"></p>
        </div>

    </div>

    <div class="row justify-content-md-center">

        <div th:each="photo: ${photos}" class="user-photo-frame">
            <div class="row no-gutters">
                <div class="col">
                    <a th:href="${photo.link}" title="Redirect to Facebook">
                        <img class="user-photo" th:src="${photo.picture}">
                    </a>
                </div>
                <div class="col">
                    <div class="row-sm" th:each="reaction: ${photo.reactions}">
                        <img class="reaction-icon" th:src="'images/reactions/' + ${reaction.type} + '.png'"
                             th:text="${reaction.summary}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:replace="fragments/dependencies :: bootstrap-scripts"></script>
</body>
</html>
